<div>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <h2 style="text-align:center"> Grocery list manager </h2>

  <div style="text-align:center" class="row">
    <div class="col-xs-6 col-md-4">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Enter grocery items here" [(ngModel)]="task"/>
          <button class="btn btn-primary" type="button" (click)="onClick()"><i class="fa fa-search"></i>
          </button>
          <span>
            {{task | json}}
          </span>
        
        <br/>
        <ul class="list-group">
          <li *ngFor="let task of tasks" class="list-group-item">
            <span> {{ task.name }} </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>