<div>
  <h2 style="text-align:center"> Grocery list manager </h2>

  <div style="text-align:center" class="row">
    <div class="col-xs-6 col-md-4">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Enter grocery items here" id="txtSearch" />
        <div class="input-group-btn">
          <button class="btn btn-primary" type="button">
            <span class="glyphicon glyphicon-ok"></span>
          </button>
        </div>
      </div>
    </div>
  </div>

</div>